
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
html, body {
  overflow-x: hidden;
}


a {
  text-decoration: none;
}


.hdr {
  width: 100%;
  position: relative;
  z-index: 10;
  background-image: url("./images/Background.png");
}


.header-bar {
  background-color: #111;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
      padding: 46px 250px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 3% 100%);
  margin-left: 705px;
}

.header-links a {
  color: #fff;
  margin-right: 25px;
  transition: color 0.3s ease;
}

.header-social a {
  color: #fff;
  font-size: 16px;
  margin-left: 12px;
  transition: color 0.3s ease;
}


.header-info {

  background-repeat: repeat;
  background-size: contain;
      padding: 25px 200px;
  border-bottom: 3px solid #ed1c24;
  position: relative;
}

.header-logo {
  position: relative;
  margin-right: auto;
}

.header-logo img {
  /* height: 130px; */
  width: auto;
  padding-left: 255px;
}

.header-contact {
  color: #000;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}




.mybtn {
  /* background-color: #ed1c24 !important; */
  color: #fff !important;
  font-weight: 600;
  padding: 10px 25px;
  border: none;
  /* border-radius: 4px; */
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  background: linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);

}

.btn:hover {
  background-color: #b91018 !important;
}


.empbtn {
  color: #000 !important;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 4px;
  background: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-width: 2px;
  border-style: solid;
  border-image-source: linear-gradient(180deg, #E91B24 0%, #620105 100%);

}
a.btn-border {
    color: #000 !important;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 4px;
    background: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid #f00;
    border-image-source: linear-gradient(
180deg, #E91B24 0%, #620105 100%);
    border-image-slice: 1;
}


.empbtn:hover {
  background-color: #ed1c24;
  color: #fff !important;
}



.hdr-bottom {
  background-color: #ed1c24;
  padding: 10px 0;
  text-align: center;
     padding-left: 402px;
}

.hdr-bottom a {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
     font-size: 17px;
  letter-spacing: 0.5px;
  transition: opacity 0.3s;
}

.hdr-bottom a:hover {
  opacity: 0.8;
}



.align-items-center {
  align-items: center !important;
  /* margin-right: 56px; */
}

.hero {

  background: url("images/Section.png") left center no-repeat;
  background-color: #131111;
  background-size: cover;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.hero-content {
  padding: 100px 250px;
  /* background: rgba(0, 0, 0, 0.8); */
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 25px;
}

.hero-desc {
  color: #ccc;
  /* font-size: 1.05rem; */
  margin-bottom: 35px;
  max-width: 450px;
  font-size: 20px;
}

.hero-buttons .btn {
  font-weight: 600;
  border-radius: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);
width: 214px;
    height: 56px;
}

.btn-outline-light {
  border: 2px solid #fff;
}

.hero-img {
  width: 100%;
 
  object-fit: cover;
  object-position: center;
  /* margin-left: 66px; */
  clip-path: polygon(9% 0, 100% 0, 100% 100%, 8% 100%, 0 46%);

}

.trusted-companies {
  height: 150px;
  background-color: #fff;
  width: 100%;
}

.trusted-wrapper {
  width: 1350px;
  margin: 0 auto;
  /* padding: 10px; */
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 280px;
}

.trusted-wrapper h2 {
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  color: #1d2b3a;
}

.company-logos {
  display: flex;
  align-items: center;
  gap: 30px;
}

.company-logo img {
  object-fit: contain;
  transition: transform 0.3s ease;
}


.quality-section {
  background-color: #fff;
  padding: 80px 0;
}

.quality-wrapper {
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
}

.quality-wrapper h2 {
  font-size: 42px;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.quality-wrapper img {
  margin: 10px auto 25px;
  display: block;
}

.quality-wrapper p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 60px;
}


.quality-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.quality-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  width: 100%;
  min-width: 250px;
  transition: all 0.3s ease;
}

.quality-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.12);
}

.quality-card img {
  width: 100%;
  height: auto;
  display: block;
      background: linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
        padding-bottom: 10px;
}

.quality-card .content {
  padding: 20px;
}

.quality-card h3 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
  margin-bottom: 12px;

}

.quality-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.bg-light {
  padding: 40px;
}

.power-section {
  background: #fff;
  padding: 0;
  overflow: hidden;
}


.power-bg {
  background: url("./images/Background.png") repeat;
  background-size: contain;
}


.power-content {
  padding: 60px 80px;
}

.power-title {
      font-size: 44px;
  font-weight: 700;
  color: #222;
  margin-bottom: 10px;
}

.power-underline img {
  width: 100px;
  margin-bottom: 20px;
}


.power-content p {
  color: #333;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}


.power-btn {
  background: linear-gradient(90deg, #e41e26 0%, #7a0004 100%);
  color: #fff;
  padding: 10px 25px;
  /* border-radius: 4px; */
  font-weight: 600;
  text-transform: uppercase;
  /* border: none; */
  /* transition: background 0.3s ease; */
  display: inline-block;
}

/* .power-btn:hover {
  background: linear-gradient(90deg, #7a0004 0%, #e41e26 100%);
} */

.packaging-section {
  background: #111 url('images/Section.png') no-repeat center/cover;
  color: #fff;
  padding: 100px 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}


.packaging-content h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.packaging-content p {
  color: #ccc;
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.7;
}

.highlight {
  color: #e63946;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  background: #000;
  max-width: 900px;
  margin: 50px auto 80px;
  height: 150px;
}

.logo-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #333;
  height: 100%;
}

.logo-box:last-child {
  border-right: none;
}

.logo-box img {
  max-height: 90px;
  /* filter: brightness(0) invert(1); */
  opacity: 0.9;
  transition: all 0.3s ease;
  filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(88deg) brightness(101%) contrast(104%);
}

.logo-box img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.logo-box {
  padding: 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent; /* normal state */
}

.logo-box img {
  width: 120px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}


.logo-box.active {
  border-color: #ffffff;
  background-color: #fff;  
}

.logo-box.active img {
  filter: none; 
}

.logo-container {
  position: relative;
}

/* Arrow image styling */
.arrow-indicator {
  position: absolute;
  bottom: -25px;  
  left: 0;
  width: 43px;
  height: 24px;
  transition: all 0.3s ease;  
}

/* ---------- Product Area ---------- */
.product-area h6 {
  color: #e63946;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.product-area h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 43px;
}

.product-area p {
  color: #ccc;
  margin-bottom: 20px;
}

.product-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.product-btn {
  background: white;
  /* border: 1px solid #444; */
  color: #0a0a0a;
  /* padding: 8px 15px; */
  /* border-radius: 5px; */
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease;
}



.explore-btn {
  background: #e63946;
  color: #fff;
  border: none;
  padding: 10px 20px;
  /* border-radius: 5px; */
  font-weight: 600;
  transition: 0.3s ease;
  background: linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);

}

.explore-btn:hover {
  background: #c72e38;
}

.product-box-image img {
  width: 100%;
  /* border-radius: 10px; */
}

.product-btn img {
 width: 100%;
    height: auto;
  object-fit: contain;
    background-color: red;
    max-width: 80px;
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    padding: 4px 34px 4px 10px;
}

/* Section Background */
.smart-packaging {
  background: url('images/background-lines.png') no-repeat center/cover;
  padding: 100px 0;
  position: relative;
  color: #333;
      background-size: contain;
      background-position: center 290px;

}

/* Heading Section */
.packaging-header h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.packaging-header .highlight {
  color: #e63946;
  position: relative;
}

.packaging-header p {
  color: #555;
  font-size: 16px;
  max-width: 700px;
  margin: 0 auto 60px;
}

/* Cards Section */
.packaging-cards {
  /* display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; */
  justify-content: center;
  row-gap: 30px;
}

.card-box {
  background: #fff;
  padding: 40px 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: all 0.3s ease;
  height: 420px;
    width: 413px;
}

.card-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-box img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.card-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-box p {
  color: #666;
  font-size: 15px;
  line-height: 1.6;
}

.packaging-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
}

.packaging-title .highlight {
  color: #e63946;
  position: relative;
}

.packaging-underline {
  display: flex;
  justify-content: center;
  margin-top: -5px; 
  margin-bottom: 40px; 
}

.packaging-underline img {
  width: 140px;
  height: auto;
}
.these-cards{
  flex: 0 0 auto;
        /* width: 33.33333333%; */
        width: auto;
}

.leaders-section {
  background: #fff;
  background: url("./images/Background.png") repeat;
}

.leaders-title {
  font-weight: 700;
  font-size: 32px;
  color: #111;
}


.leader-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background: #fff;
  border: 1px solid #eee;
  border-radius: 12px; */
  padding: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  height: 100%;
  min-height: 260px; /
}


.leader-box {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  /* min-height: 160px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 256px;
    width: 370px;
}


.leader-info {
  display: flex;
  align-items: center;
  justify-content: left;
  /* gap: 12px; */
  margin-top: 20px;
}


.leader-img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.leader-text h6 {
  margin-right: 85px;
  font-weight: 700;
  color: #111;
  font-size: 15px;
}

.leader-text p {
  margin: 0;
  font-size: 13px;
  color: #666;
  line-height: 1.3;
}
.carousel-wrapper {
  position: relative; 
}

.custom-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  z-index: 10
  
}

.custom-nav button {
  background: none;
  border: none;
  color: #a00e0e;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
 z-index: 11;
}

.custom-nav button:hover {
  color: #E91B24;
  transform: scale(1.1);
}



.owl-carousel .owl-nav button {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background: #e63946;
  color: #fff;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 35px;
}

.owl-carousel .owl-nav .owl-prev {
  left: -45px;
}

.owl-carousel .owl-nav .owl-next {
  right: -45px;
}

.owl-carousel .owl-nav button:hover {
  background: #c12e37;
}
.form-outer {
    min-height: 850px;
    position: relative;
}

.form-left {
    background-image: linear-gradient(to right, #ED1C25, #5F0004);
    color: #fff;

}
.left-inner {
    width: 428px;
}

.left-inner p {
    font-size: 18px;
}

.h-100 {
    height: 100%;
}

.form-outer {
    min-height: 450px;
    position: relative;
}

.form-left {
    background-image: linear-gradient(to right, #ED1C25, #5F0004);
    color: #fff;
}

.left-inner {
    width: 428px;
}

.left-inner p {
    font-size: 18px;
}

.h-100 {
    height: 100%;
}


.form-section {
    position: absolute;
    max-width: 540px;
    padding: 20px;
    background-color: #fff;
    /* box-shadow: 0px 47px 51px rgba(0, 0, 0, 0.08); */
    border-radius: 8px;
    top: 140px;
    left: 40%;
}

.submit {
    display: block;
    max-width: max-content;
    margin: 20px 0px;
        background: linear-gradient(90deg, #ED1C25 0%, #5F0004 100%);
}

.form-section img {
    display: block;
    margin: 0 auto;
    
}

.border-white {
    border: 2px solid #fff;
}

.form-icon {
    width: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.form-icon img {
    width: 100%;
    max-width: 20px;
    height: auto;
    display: block;
    padding: 2px;
}
.form-outer {
  display: flex;
  align-items: stretch;
  min-height: 850px;
  position: relative;
}

.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.footer-section {
    background-color: #f8f8f8;
    padding: 100px 0;
     background: url("./images/Section.png") repeat;
}

.footer-section .outer-section {
    max-width: 1480px;
    margin: 0 auto;
}

.footer-section .top-section {
    text-align: center;
    margin-bottom: 60px;
}

.footer-section .top-section h2 {
    font-size: 44px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.footer-section .top-section img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: auto;
}


.footer-section .row {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Left large card */
.footer-section  {
    /* border-radius: 8px; */
    overflow: hidden;
    background-color: #fff;
    /* transition: all 0.3s ease; */
}

.footer-section  {
    transform: translateY(-5px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 25px;
}

.footer-section .box-content {
    padding: 30px;
}

.footer-section .box-content h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-section .box-content p {
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.footer-section .read-more {
    background: linear-gradient(to right, #ED1C25, #5F0004);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    /* border-radius: 4px; */
    text-decoration: none;
    font-weight: 500;
        height: 51px;
    width: 175px;

}


.footer-section .colsection-1 {
    overflow: hidden;
    align-items: center;
}

.footer-section .colsection-1 img {
    height: 195px;
}

.footer-section .boxes-content h6 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-section .boxes-content p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

.footer-section .bg-gray {
    background: #efefef;
    padding: 15px;
    border-radius: 10px;
}


    footer {
    background-color: #221f1f;
}

.footer-outer {
    max-width: 1480px;
    margin: 0 auto;
}

.footer-inner {
    gap: 40px;
}

.w-25 {
    width: calc(100% / 5 - 0px)
}

.nav-link {
    color: #fff;
}

.company-section {
    width: max-content;
    display: flex;
    padding: 100px 0px 40px;
    flex-direction: column;
}

.icon-section {
    width: 30px;
    background: #f00;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
        margin-top: 13px;
}

.form-icon {
    width: 50px;
    background-color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.form-icon img {
    width: 100%;
    max-width: 20px;
    height: auto;
    display: block;
    padding: 2px;
}

.icon-section i {
    width: 100%;
    max-width: 20px;
    height: auto;
    display: block;
    padding: 4px;
}

.pt {
    padding: 40px 0px 0px;
}

.logo-section img {
    height: auto;
    max-width: 156px;
    object-fit: contain;
}

.logo-section p {
    font-size: 16px;
    padding-top: 40px;
}

.company-section h5 {
    font-size: 19px;
}

.company-section li a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    opacity: 77%;
        margin-top: 15px;
}

.copyright p {
    font-size: 13px;
    color: #FFFFFF;
}

.wrapper {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0px 12px;
}

.footer-right {
    display: flex;
    max-width: 1063px;
    justify-content: space-evenly;
    gap: 40px;
}

.footer-left {
    max-width: 400px;
}

.copy-right {
    background: #1c1919;
}

.bg-gray {
    background: #efefef;
}
